#TicTac_Main {
    position: fixed;
    background-color: #4b383e;
    min-height: 100vh;
    min-width: 100vw;
    /*right: 0;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.board-row {
    display: flex;
    /*width: 100px;*/
    /*height: 33px;*/
}

.square {
    justify-content: center;
    align-items: center;
    width: 99px;
    height: 99px;
    background-color: #282c34;
    color: white;
    display: inline-flex;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s;
    user-select: none;
}

.square:hover {
    transition: 0.5s;
    filter: brightness(1.5);
}