/*主体*/
#Navigation_Main {
    margin: 0;
    backdrop-filter: blur(10px);
    top: 0;
    position: fixed;
    width: 100%;
    transition: 1s;
    background-color: rgba(40, 44, 52, 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    Z-index: 999;
}

/*进入按钮*/
#enter_button {
    transition: 0.5s;
}

/*旋转动画*/
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#My-logo {
    float: right;
    box-shadow: black 0 0 20px;
    height: inherit;
    border-radius: 50%;
    z-index: 9999;
    position: absolute;
}

/*个人头像*/
#My-logo-container {
    position: absolute;
    top: 0.5vh;
    height: 7vw;
    width: 7vw;
    /*居左*/
    transition: 0.5s, margin-right 1s ease-in-out;
}

#My-logo-container:hover #My-logo {
    box-shadow: black 0 0 20px;
}

@keyframes logo_move {
    100% {
        margin-right: 95vw;
    }
}

/*悬浮在logo上的详情信息hover*/
#UserInformation {
    opacity: 0;
    width: fit-content;
    height: 0;
    overflow: hidden;
    z-index: 99;
    font-size: 2vh;
    text-align: center;
    border-radius: 10px;
    /*旋转120度*/
    transition: 0.5s;
}

/*#My-logo-container:hover #detailed_information {*/
/*    transform: rotate(0deg);*/
/*    transition: 0.5s ease-in-out;*/
/*    opacity: 1;*/
/*}*/